/*going to change colors, temporary for now*/
.navbar {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-bottom: 1px solid #555;
}

.logo-container {
    width: 25%;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    padding-left: 20px;
}

.logo-container img {
    max-height: 100%;
}

.links-container {
    width: 75%;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    padding-right: 20px;
}

.link {
    margin-right: 20px;
}

.link:last-child {
    margin-right: 0;
}

.link a {
    text-decoration: none;
    color: #555;
}

.link a:hover {
    color: #000;
}