.nav-item {
    position: relative;
    cursor: pointer;
    transition: color 0.3s ease; /* Add smooth color transition */
}

.nav-item::after {
    content: attr(data-text);
    position: absolute;
    bottom: 0;
    left: 50%; /* Start from the center */
    transform: translateX(-50%);
    width: 0;
    height: 2px;
    background-color: #009EE3; /* Color of the line */
    transition: width 0.3s ease; /* Add smooth width transition */
}

.nav-item:hover {
    color: #009EE3; /* Change text color on hover */
}

.nav-item:hover::after {
    width: 100%;
}