.rounded-vl {
    border-radius: 4.5rem;
}

.rounded-zl {
    border-radius: 3rem;

}
.rounded-yl {
    border-radius: 2.5rem;
}

.wd-110 {
    width: 110%;
}

.wd-90 {
    width: 90%;
}

.wd-55 {
    width: 55%;
}

.ht-55{
    height: 55%;
}

.mt-xl {
    margin-top: 30rem;
}

.pl-18 {
    padding-left: 4.5rem;
}

.top-19 {
    top: 19rem;
}

.header {
    height: 13vh;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.rotate-5 {
    transform: rotate(5deg);
}

.scale-85 {
    transform: scale(0.85);
}

.scale-25 {
    transform: scale(0.25);
}

.h-sub {
    height: 4.5rem;
}

.bg-color {
    background-color: rgb(1, 15, 45);
}

.bg-color1 {
    background-color: rgb(146, 159, 187);

}

.txt-color {
    color: rgb(1, 15, 45);
}

.filter-white {
    filter: invert(1) brightness(0);
}

.libre-franklin {
    font-family: 'Libre Franklin', sans-serif;
}

.barlow-condensed {
    font-family: 'Barlow Condensed', sans-serif;
}

.poppins-medium {
    font-family: 'Poppins Medium', sans-serif;
}

.canva-sans {
    font-family: 'Canvas Sans', sans-serif;
}

.dm-sans {
    font-family: 'DM Sans', sans-serif;
}

.glacial-indiff {
    font-family: 'Glacial Indifference', sans-serif;
}